@page "/"
@inject NavigationManager NavigationManager
@inject CalenderSchedule.BlazorWASM.Services.ScheduleAPIService scheduleAPIService
@using CalenderSchedule.Shared

<h3>List of Calender Items</h3>
<h3>Date</h3>
<input @bind-value="date" type="date" placeholder="Date" />
<button @onclick="filterMonth">Filter By Month</button>
<button @onclick="filterDay">Filter By Day</button>
<button @onclick="filterYear">Filter By Year</button>
<button @onclick="filterDate">Filter By Date</button>
<button @onclick="getAllItems">Show All Schedule Items</button>
<hr />
@foreach (var i in calender)
{
    <div>
        <text>@i.Name</text>
        <button @onclick="@(() => navigate(@i.Id))">Details</button>
    </div>
}

@code
{
    private DateTime date;
    private IEnumerable<Schedule> calender = new List<Schedule>();

    protected override async Task OnInitializedAsync()
    {
        calender = await scheduleAPIService.GetSchedulesAsync();
    }

    private async Task filterMonth()
    {
        calender = await scheduleAPIService.GetSchedulesByMonthAsync(date.Month);
    }

    private async Task filterDay()
    {
        calender = await scheduleAPIService.GetSchedulesByDayAsync(date.Day);
    }

    private async Task filterYear()
    {

        calender = await scheduleAPIService.GetSchedulesByYearAsync(date.Year);
    }

    private async Task filterDate()
    {
        var dateRequest = new DateRequest()
        {
            Month = date.Month,
            Day = date.Day,
            Year = date.Year
        };

        calender = await scheduleAPIService.GetSchedulesByDateAsync(dateRequest);
    }

    private async Task getAllItems()
    {
        calender = await scheduleAPIService.GetSchedulesAsync();
    }

    private void navigate(int id)
    {
        var uri = "schedule/" + id;
        NavigationManager.NavigateTo(uri);
    }
}