@page "/"
@inject NavigationManager NavigationManager
@inject HttpClient http
@using CalenderSchedule.Shared

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div Style="border:solid 2px; border-color: black">
    <h2>Add a Project</h2>
    <hr />
    <h3>Schedule Name</h3>
    <input @bind-value="Name" placeholder="Name" />
    <hr />
    <h3>Calender Date</h3>
    <input @bind-value="date" type="date" placeholder="Date" />
    <hr />
    <h3>Calender  Time</h3>
    <input @bind-value="time" type="time" placeholder="Time" />
    <hr />
    <h3>Schedule Description</h3>
    <input @bind-value="Description" placeholder="Description" />
    <hr />
    <button @onclick="addSchedule">Add To Schedule</button>
</div>
<hr />
<h3>List of Calender Items</h3>
@foreach (var i in calender)
{
<div>
    <text>@i.Name</text>
    <button @onclick="@(() => navigate(@i.Id))">Edit</button>
</div>
}
@*<ul>
        @foreach (var p in projects)
        {
            <li >@p.Title</li>
        }
    </ul>*@
@code
{
    private string Name;
    private DateTime date;
    private DateTime time;
    private string Description;
    private IEnumerable<Schedule> calender = new List<Schedule>();

    private async Task addSchedule()
    {
        Schedule schedule = new Schedule();
        schedule.Name = Name;
        schedule.Day = date;
        schedule.Time = time;
        schedule.Description = Description;
        await http.PostAsJsonAsync("/api/calender/AddCalender", schedule);
        calender = await http.GetFromJsonAsync<IEnumerable<Schedule>>("/api/calender");
    }

    protected override async Task OnInitializedAsync()
    {
        calender = await http.GetFromJsonAsync<IEnumerable<Schedule>>("/api/calender");
    }

    private void navigate(int id)
    {
        var uri = "schedule/" + id;
        NavigationManager.NavigateTo(uri);
    }
}